<style>
  .my-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: rgb(34, 0, 34); */
  }

  .icons-center {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
    text-align: center;
  }

 </style>



<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
  integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

<!-- <link rel="stylesheet" href="./assets/footer-css/demo.css"> -->
<link rel="stylesheet" href="./assets/footer-css/footer-distributed-with-address-and-phones.css">

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">



<footer>
 
  <section class="footer-distributed">
    <div class="footer-left">

      <h3><span>Digital Board Marker</span></h3>

      <p class="footer-links">
        <a href="#">Home</a>
        ·
        <a href="#">Blog</a>
        ·
        <a href="#">Pricing</a>
        ·
        <a href="#">About</a>
        ·
        <a href="#">Faq</a>
        ·
        <a href="#">Contact</a>
      </p>

      <p class="footer-company-name">Digital Board Marker &copy; 2019</p>
    </div>

    <div class="footer-center">

      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>University Of Engineering and Technology</span> Lahore, Pakistan</p>
      </div>

      <div>
        <i class="fa fa-phone"></i>
        <p>+92 320 0498942</p>
      </div>

      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:hariskhan3465@gmail.com">hariskhan3465@gmail.com</a></p>
      </div>

    </div>

    <div class="footer-right">

      <p class="footer-company-about">
        <span>About the company</span>
        Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus
        vehicula sit amet.
      </p>

      <div class="footer-icons">

        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>

      </div>

    </div>
  </section>


</footer>




<!-- 

<mat-toolbar color="primary" style="margin-top: 20%">

  <mat-toolbar-row>

    <span></span>

  </mat-toolbar-row>

  <mat-toolbar-row color="primary">
    <span class="icons-center">
      <span><a class="px-2"><i class="fab fa-facebook-f fa-lg white-text"></i></a></span>
      <span>&nbsp; &nbsp; &nbsp;</span>
      <a class="px-2"><i class="fab fa-twitter fa-lg white-text"></i></a>
      <span>&nbsp; &nbsp; &nbsp;</span>
      <a class="px-2"><i class="fab fa-google-plus-g fa-lg white-text"></i></a>
      <span>&nbsp; &nbsp; &nbsp;</span>
      <a class="px-2"><i class="fab fa-linkedin-in fa-lg white-text"></i></a>
    </span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span class="icons-center">&copy; <a href="/">DMS</a> - Design: <a href="https://templateflip.com/"
        target="_blank">TemplateFlip</a></span>
  </mat-toolbar-row>
</mat-toolbar> -->