

.example-tab-icon {
    margin-right: 8px;
  }

  .mat-tab-label:active{
    background-color: red;
    opacity: 1 !important;
  }

  .test:active{
    color: red;
  }

  .btn-enroll {
    background-color: #007a5a;
    color: white;
    width: 155px;
    height: 45px;
    float: right;
  }

  .btn-add {
    background-color: #007a5a;
    color: white;
    margin-left: 5%;
    height: 45px;
  }

  .head {
    margin-left: 5%;
    margin-right: 5%;
  }

  h1 {
    margin: 0;
    display: inline-block;
  }


  .tabs {
    margin-left: 1%;
    margin-right: 1%;
    border: 1px solid #e8e8e8;
  }

  .form-inline {  
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  
.form-inline button {
  cursor: pointer;
  margin-left: auto;
}

.form-inline h1 {
  margin: 5px 10px 5px 0;
}

  @media (max-width: 900px) {
    
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }

    .form-inline button {
      margin-left: 0;
    }

    
  }