<!-- <style>
  mat-tab-label:hover {
    background-color: purple !important;
    color: white;
  }
</style>
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label class="cl">
      <mat-icon class="example-tab-icon">library_books</mat-icon>
      Notes
    </ng-template>
    Course Notes
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <i class='fas fa-chalkboard-teacher' style="margin-right: 8px"></i>
      Lectures
    </ng-template>
    Content 2
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>

      <mat-icon class="example-tab-icon">library_books</mat-icon>
      Assignments
    </ng-template>

    Content 3
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fas fa-bullhorn" style="margin-right: 8px"></i>
      Announcement
    </ng-template>
    Content 3
  </mat-tab>
</mat-tab-group> -->

<!-- #292c2f -->
<!-- color="primary" backgroundColor="accent" -->
<!-- class=".alternate-dark-theme" -->

<!-- <form class="form-inline">
  <div class="head">
    <h1>Database Management System(Th) -- 2019</h1>
    <button mat-raised-button class="btn-enroll" color="primary">Enroll</button>

  </div>
</form> -->

<br>
<br>
<form class="form-inline head">
  <!-- <h1>Database Management System(Th) -- 2019</h1> -->
  <h1>{{MyName}}</h1>
  <button mat-raised-button class="btn-enroll" color="primary" (click)="ViewRequests()">Enrollment Requests</button>
</form>

<br><br>
<div>
  <div>
    <mat-tab-group mat-stretch-tabs class="tabs">
      <mat-tab class="test">
        <ng-template mat-tab-label>
          <i class="fas fa-bullhorn" style="margin-right: 8px"></i>
          Announcement
        </ng-template>
        <br><br>
        <a routerLink='/AddAnnouncement'><button mat-raised-button class="btn-add" color="primary">Add
            Announcements</button></a>
        <br><br>
        <app-all-announcements></app-all-announcements>
        <br>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <i class='fas fa-chalkboard-teacher' style="margin-right: 8px"></i>
          Lectures
        </ng-template>
        <br><br>
        <a routerLink='/AddLecture'><button mat-raised-button class="btn-add" color="primary">Upload
            Lecture</button></a>
        <br><br>
        <app-lectures></app-lectures>
      </mat-tab>
      <!-- <mat-tab>
        <ng-template mat-tab-label class="cl">
          <mat-icon class="example-tab-icon">library_books</mat-icon>
          Notes
        </ng-template>
        <br><br>
        <a routerLink='/AddNotes'><button mat-raised-button class="btn-add" color="primary">Add
            Notes</button></a>
        <br><br>
        <app-all-notes></app-all-notes>
      </mat-tab> -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">library_books</mat-icon>
          Assignments
        </ng-template>
        <br><br>
        <a routerLink='/AddAssignment'><button mat-raised-button class="btn-add" color="primary">Add
            Assignment</button></a>
        <br><br>
        <app-all-assignments></app-all-assignments>
        <!-- <app-all-assignments></app-all-assignments> -->
      </mat-tab>
    </mat-tab-group>
  </div>
</div>