
<form #form="ngForm" (submit)="onSubmit(form)">
  <mat-card class="card-login">
    <mat-card-title>Add Group</mat-card-title>
    <br>
    <mat-card-content>
      <div class="form-group">
        <input type="hidden" name="id" value="service.formData.id">
      </div>

      <div class="form-group">
        <input type="hidden" name="email" value="service.formData.email">
      </div>

      <div class="form-group">
        <mat-form-field color="accent" appearance="outline" class="form-input">
          <mat-label>Group Name</mat-label>
          <input matInput name="group" #group="ngModel" [(ngModel)]="service.formData.group" class="form-control" required>
          <!-- <input matInput> -->
        </mat-form-field>
      </div>
      <br>
      <br>
      
      <div class="form-group">
      <mat-form-field color="accent" appearance="outline" class="form-input">
        <mat-label>Assign Permissions</mat-label>
        <mat-select name="Name"  class="form-control" (selectionChange)="changeClient($event.value)" multiple>
        <mat-option  *ngFor="let permissions of permissionList;" [value]="permissions.name" >{{permissions.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      </div>
  
      <br>
      <br>
      <button mat-raised-button class="btn-login" color="primary">Add</button>
      <br>
    </mat-card-content>
  </mat-card>
</form>
