.form-input{
    width: 90%;

}

.card-login{
  width: 30%;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  min-width: 400px;
}

.btn-login{
    
    background-color: #007a5a;
    color: white;
    width: 90%;
    height: 45px;
}


.material-icons:hover{
    cursor: pointer;
}