<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<br>
<mat-card class="card-login">

    <mat-card-content>
        <table id="Institutes" class="table">
            <col width="100px">
            <col width="100px">
            <col width="100px">
            <col width="100px">
            <col width="100px">
            <tr>
                <th>Name</th>
                <th>Notes</th>
                <th>Play Video</th>
                <th>Delete</th>
            </tr>
            <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
            <tr *ngFor="let e of service.list">
                <input type="hidden" name="Id" value="{{e.courseId}}">
                <td>{{e.name}}</td>
                <td>
                        <!-- <a type="submit" mat-raised-button style="margin-left:50px"
                        (click)="EnrolInCourse(course, form)">Not Enrolled</a> -->
                    <!-- <a (click)="ApproveRequest(e.userId)"><mat-icon class="icon">play_circle_filled</mat-icon></a> -->
                    <a routerLink='/LectureNotes'>Notes</a>

                </td>
                <td>
                    <a  (click)="ViewVideo(e)">Videos</a>
                </td>
                <td>
                    <a (click)="DisApproveRequest(e.userId)"><mat-icon class="icon">delete_sweep</mat-icon></a>
                </td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>