.form-input{
    width: 90%;

}

.card-login{
  width: 30%;
  margin: 0 auto;
  text-align: center;
  min-width: 400px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
.btn-login{
    
    background-color: #007a5a;
    color: white;
    width: 90%;
    height: 45px;
}

.btn-AddMembers {
  background-color: #007a5a;
  color: white;
  width: 150px;
  height: 45px;
}

.btn-RemoveMembers {
  /* background-color: #007a5a; */
  background: none;
  color: #007a5a;
  width: 30%;
  height: 5px;
  cursor: pointer;
}

/* .col {
  float: left;
  width: 40%;
}

.row {
  width: 95%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
} */
